@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@500&display=swap');

.font{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.heigh{
    height: 50vh;
}
.wid{
    width: 450px;
}
.sp{
    letter-spacing: 1em;
}
  

